<h1>Specific Cat</h1>
<ul>
  <li><%= @cat.name%></li>
  <li><%= @cat.birth_date%></li>
  <li><%= @cat.age%></li>
  <li><%= @cat.color%></li>
  <li><%= @cat.sex%></li>
  <li><%= @cat.description%></li>
  <a href="<%= cats_url %>">TAKE ME TO THE ALL THE CATS!!!</a>
  <br>
</ul>